{
  "plugins": [],
  "env": {
    "test": {
      "plugins": [],
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  },
  "presets": [
    "@babel/preset-typescript"
  ]
}
