{
  "presets": ["@babel/preset-react"],
  "plugins": ["@babel/plugin-transform-flow-strip-types"],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-flow-strip-types"],
      "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", { "targets": { "node": "current" } }]
      ]
    }
  }
}
