{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", { "targets": { "node": "current" } }]
      ]
    }
  }
}
