{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [],
  "env": {
    "test": {
      "plugins": [],
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/preset-react",
          {
            "runtime": "automatic"
          }
        ],
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
